.about{    
    padding:2rem; 
    font-size:1.5rem;
    justify-content: center;
    align-items: center;       
}
.flex-container{
    width: 100%;        
    flex-wrap: nowrap;
    display: flex;
}
.flex-container > div{
    width:100%;
    margin: 2px;    
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bio{
    padding-left: 1rem;
    flex-wrap: wrap;
    text-align:left;
}
.lang-prof{
    padding-left:1rem;    
}
.lang-prof>p{
    padding-left: 1rem;
}
.image>img{
    max-width: 100%;
    height: auto;    
}
.image{
    padding: 1rem;
    text-align: center;
}
@media (max-width:768px) {
.flex-container{
    flex-wrap:wrap;
    text-align: center;
    justify-content: center;
}
.flex-container>div{
    flex-direction:row;    
}
.bio,.lang-prof{
    text-align: center;
    word-wrap: break-word;
    font-size: 1.5rem;
}
.about{
    text-align: center;
}
.lang-prof>p{
    padding-left: 1rem;
    text-align: left;
}

}