.contact{
    padding: 2rem;    
}
.Contact-me{
    text-align: center;
    text-overflow: clip;  
    font-size: 2rem;
}
.number{
    text-decoration: none;
    color: black;
}
.number:hover{
    background-color: none;
    color: gray;
}
@media (max-width:768px) {
    .contact{
    padding: 2rem;
    text-align: center;
}
.Contact-me{
    text-align:center;      
    font-size: 1.5rem;    
}
}