.footer {
  width:100%;
  scroll-padding-top: 1rem;
  bottom:0;
  position:relative;
  font-family: "Source code Pro",monospace;
  font-size: 1.2rem;
  font-weight: 600;
  height: 1em;
  text-align: center;
  justify-content: center;
  align-items: center;
}
#top{
  display:block;
  position:fixed;
  bottom:20px;
  z-index:99;
  right: 30px;
  float: right;   
  border: none;
  outline: none;
  background-color:black;  
  color: white;
  cursor: pointer;
  padding:0.8rem;
  border-radius:8px;
  }
#top:hover {
  background-color:grey;
  transition: all ease-in-out 0.2s;
}
