@media(max-width:768px){
  body,html{
    font-size:0.75rem;
  }  
}
html,body{
    scroll-behavior: smooth;
    font-family: "Noto Sans JP",sans-serif;
}
*{
  padding:0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
.header{
    display: flex;
    padding: 2rem 2rem 0 2rem  ;
    align-items: center;
    justify-content:center;
    gap: 1rem;        
    background-color: #ffffff;
/*    <!--background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='360' height='360' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%234b5357' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23000000'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
*/
} 
nav{
  background:transparent;
  width: 100%;
  
}
label.name{
  color: black;
  font-family:"Odibee Sans",cursive;
  font-size: 4rem;
  text-align: left;  
  line-height: 75px;
}
.name:hover{
  color:gray;
}
nav ul{
  float:right;
  margin-right: 20px;   
  line-height: 75px; 
  padding-right:3rem;
}
nav ul li{
  display: inline-block;
  margin: 0 5px; 
}
nav ul li a{
  color: black;
   font-family: "lato",sans-serif;
   font-size: 2rem;
   padding: 0.5rem 0.5rem;
   border-radius: 1.2rem;
   text-decoration: none;   
}
nav a:hover{
  background-color: rgb(211, 211, 211);
  color: black;
  transition: 0.2s;
}
.checkbtn{
  font-size: 2rem;
  float: right;
  line-height: 75px;  
  cursor: pointer;
  display: none;
}
.checkbtn:hover{
  color:gray;
}
#check{
  display:none;
}
@media(max-width:1132px){
  nav ul{
    padding: 0;
    margin-right: 0;
  }
  nav ul li a{
    font-size: 1.5rem;    
  }
}
@media(max-width:972px){
  label.name{
    font-size: 3rem;
    padding-left:1rem;
  }
  nav ul{
    padding: 0;
    margin-right: 0;
  }
  nav ul li a{
    font-size: 1.5rem;
  }
}
@media(max-width:846px){
  .checkbtn{
    display: block;
  }
  label.name{
    font-size: 3rem;
   }
  ul{
    display:none;
    position:relative;
    width:100%;
    top:-100%;
    text-align: left;
    transition: all 0.5s;
    background-color:transparent;
  }
  nav ul li{
    display: block;
    margin: 0 0.8rem;
    line-height: 50px;
  }
  nav ul li a{
    font-size: 1.5rem; 
    width: 100%;  
  }
 
  li:hover{
    background-color:rgb(211, 211, 211);   
  }
  #check:checked~ul{
    top:0;
    display: block;
  }  
}
@media (max-width:400px)
{
label.name{
    font-size:3rem;
  }
}
