.skills{
    padding: 2rem;
}
.skills>*{
    flex: 1;   
}
.flex-container-skill{
    display: flex;    
}
.flex-container-skill>div{
    width:100%;
    padding: 0rem;
    font-size: 1.5rem;
     align-items: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
}
.skills-image>img{
    max-width: 100%;
    height: auto;  
    padding: 2rem;  
}

.dev-icons{
    list-style:none;
    text-align:center;
    padding-top: 2rem;    
}
.values{
    list-style:none;
    text-align:center;
    padding-top:1rem;   
}
.skill-icons{
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: 1rem;      
    cursor: pointer;  
} 
.skill-icons>i{
    font-size: 3rem;   
}
.skill-icons>p{
    font-size:1rem; 
}
.skillset-values{
    margin-top: 0;
    padding-top: 0;
}
.fab i{
    font-weight: 400;
}
.skill-icons:hover{
    color: gray;
}
.fab .fa-html5:before{
    content: "/f13b";
}
.fab .fa-CSS3-alt:before{
    content: "/f38b";
}
.fab .fa-java:before{
    content: "/f4e4";
}
.fab .fa-android:before{
    content: "/f17b";
}
.fas .fa-database:before{
    content: "/f1c0";
}
.fab .fa-python:before{
    content: "/f3e2";
}

@media (max-width:768px) {
.skills h1{
    text-align: center;
    margin-bottom: 1rem;

}
.flex-container-skill{
    flex-wrap:wrap-reverse;
    text-align: center;
    
}
.flex-container-skill>div{
    flex-direction:column;       
}
.skills-image{
    order: 2;
}
.skills{
    flex-direction: row;
}
.dev-icons{
    display: block;
}
.skill>div{
    flex-direction:row;
}
.skill{
    font-size: 2rem;
    max-height: auto; 
}
.skillset-icons>i{
    font-size: 4rem;
}
.skillset-values{
    font-size: 1rem;
    max-height: 100%;
}
}